<!-- views/partials/form.ejs -->

        <p>If you want to be updated when this idea gets made, enter your email below and we'll reach out when it's live.</p>

        <!--
        <form action="https://www.formbackend.com/f/_gqn6y3d" method="post" target="_blank">

        <input type="hidden" id="campaignid" namef="campaignid" value="" />
        <input type="hidden" id="contentid" name="contentid" value="" />

        <input type="text" name="email" default="test@testtesttest.info" onClick="ga('send', 'event', 'email input', 'text entry');" >
        <button type="submit" name="submitButton" value="SignUpButton" onClick="ga('send', 'event', 'sign up', 'click');" >
          Sign Me Up!
        </button>

        <br />
        
        <input type="checkbox" value="optin" name="optin" onClick="ga('send', 'event', 'opt in', 'toggle');" checked> 
        <em>I agree to be contacted for future testing campaigns.</em>

        <br />
        
      </form>
      -->
      <!-- Begin Mailchimp Signup Form -->

<div id="mc_embed_signup">
<form action="https://testtesttest.us19.list-manage.com/subscribe/post?u=71d1146f38ebc15f9bf00eb06&amp;id=7769be5eca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    

    <div class="mc-field-group">
    <input type="email" value="" default="test@testtesttest.info" name="EMAIL" class="required email" id="mce-EMAIL" onClick="ga('send', 'event', 'email input', 'text entry');">
    </div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_71d1146f38ebc15f9bf00eb06_7769be5eca" tabindex="-1" value=""></div>
    <input type="checkbox" value="optin" name="optin" onClick="ga('send', 'event', 'opt in', 'toggle');" checked> 
        <em>I agree to be contacted for future testing campaigns.</em>
    <div class="clear"><input type="submit" value="Why A?" name="subscribe" id="mc-embedded-subscribe" class="button"  onClick="ga('send', 'event', 'sign up', 'click');"></div>

    </div>
    <input type="hidden" id="campaignid" namef="campaignid" value="" />
    <input type="hidden" id="contentid" name="contentid" value="" />
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[6]='CAMPAIGNID';ftypes[6]='text';fnames[7]='CONTENTID';ftypes[7]='text';fnames[1]='OPTIN';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
