<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
      <h1>Awesome.</h1>

      <h2>Thanks for signing up, we will let you know when we make that thing.</h2>

      <p>We respect your time and promise not to bother you.</p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>



</body>
</html>